footer {
    margin-top: auto;
    padding: .8rem 2rem;
    text-align: center;
}

footer p {
    color: #9dceff;
    font-size: .8rem;
}

footer a {
    color: #1565C0;
}

footer small {
    color: var(--primary);
    font-size: .625rem;
}