main {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1.2rem 2rem 1rem;
    gap: .4rem;
    position: relative;
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 1.2rem;
    height: 100%;
    width: 100%;
}

textarea {
    width: 100%;
    max-height: 280px;
    flex: 1;
    padding: 1rem;
    background: rgba(var(--surface-rgb), .5);
    border: none;
    border-radius: 6px;
    color: var(--text);
    font-size: .8rem;
    resize: none;
    transition: border-color .3s;
}

textarea:focus {
    border: 1px solid rgba(157, 206, 255, .2);
}

input,
button {
    color: #98999b;
    width: 100%;
    padding: 8px 16px;
    font-size: 1rem;
    background-color: #98999b1f;
    border-radius: 4px;
    border: none;
    outline: none;
    transition: opacity .3s;
}

input:hover,
button:hover {
    opacity: .9;
}

button {
    cursor: pointer;
}

.login-remember-field {
    color: #9dceff;
    margin-top: 3rem;
    width: 100%;
}
.login-remember-field input {
    width: auto;
}

.buttons-group {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.buttons-group label {
    display: flex;
    align-items: center;
    font-size: .8rem;
    color: var(--text-secondary);
    text-wrap: nowrap;
}

.buttons-group input[type="checkbox"] {
    margin-right: 3px;
}
